@import "_reset";
@import "_variables";
@import "_responsive";

@include mobile;
@include tablet;
@include desktop;

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;

  nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    width: 100%;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;
      text-transform: lowercase;
      padding-left: $globalPaddingLeft;
      font-size: 2rem;
      font-weight: 400;
      gap: 20px;

      &:first-child {
        gap: 50px;

        li:not(:first-child) {
          color: #d5dade;
        }
      }

      @include mobile {
        li {
          display: none;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #e0e1e3;

        &:first-child {
          li:not(:first-child) {
            color: white;
          }
        }
      }
    }
  }
}

main {
  margin-top: $navHeight;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25vw;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 35vw;
  }

  article {
    a {
      height: 100%;
      display: grid;
      grid-template-rows: minmax(0, 10fr) 1fr;
      text-decoration: none;
      color: black;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      div {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
        padding-left: $globalPaddingLeft;
      }
    }
  }
}
