// color
$ivory: #fbf7f6;
$footerColor: #f2ede7;
$darkenIvory: #f0ede8;
$apricot: #f9dcbe;
$skyblue: #dee8e9;
$btnHoverBgColor: #414141;
$btnHoverTextColor: #fff;

// font family
$basicParagraphFont: "Times New Roman";

// font size
$basicFontSize: 10px;
$descriptionFontSize: 30px;

// font color
$basicParagraphFontColor: rgba(0,0,0,0.6);

// border
$basicBorder: 1px solid black;

// size
$headerSize: 144px;  ;