// breakpoints
$mobile: 799px; 
$desktop: 800px; 

// responsive mixin
@mixin mobile { 
  @media (max-width: $mobile) { 
    :root {
      font-size: 14px;
    }
    @content; 
  } 
}

@mixin desktop { 
  @media (min-width: $desktop) {  
    :root {
      font-size: 20px;
    }   
    @content; 
  } 
}