$bg-color: navy;
@import "_responsive";

@include desktop {
  %responsiveGridColumn {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include tablet {
  %responsiveGridColumn {
    grid-template-columns: 1fr 5fr 1fr;
  }
}

@include mobile {
  %responsiveGridColumn {
    grid-template-columns: 1fr 3fr 1fr;
  }
}