$mainColor: brown;
@import "_responsive";

$imgSize: calc(80vh + 5px);
$sideWidth: calc(50vw - 40vh - 2.5px);
$rowHeight: 10vh;

$centerRowPosition: calc(10vh + 1px);
$bottomRowPosition: calc(90vh + 6px);

@include desktop {
  %menuWidth {
    width: calc();
  }
}

@include tablet {

}

@include mobile {

}