$mainColor: brown;
@import "_responsive";

$imgSize: calc(80vmin + 5px);
$sideWidth: calc(50vw - 40vmin - 2.5px);
$rowHeight: calc(50vh - 40vmin - 3.5px);
$gridHeight: calc(16vmin);

$centerRowPosition: calc(50vh - 40vmin - 1.5px);
$bottomRowPosition: calc(50vh + 40vmin + 3.5px);

@include desktop {
  %menuWidth {
    width: calc();
  }
}

@include mobile {

}